.player-container {
    position: relative;
    overflow: hidden;
}

svg {
    pointer-events: none;
}

button:focus {
    border: 3px solid var(--highlight-bg-color-hover) !important;
    box-shadow: 0px 0px 7px 0px var(--highlight-bg-color-hover) !important;
}