.player-container {
    position: relative;
    overflow: hidden;
    font-family: sans-serif;
}

svg {
    pointer-events: none;
}

button:focus {
    /*border: 3px solid var(--highlight-bg-color-hover) !important;
    box-shadow: 0px 0px 7px 0px var(--highlight-bg-color-hover) !important;
    */
}

.player-container button,
.video-container .video-canvas .button-area button,
.button-group .button-plugin-container button {
    outline-style: none;
}

.player-container button:focus-visible,
.video-container .video-canvas .button-area button:focus-visible,
.button-group .button-plugin-container button:focus-visible {
    outline-style: solid;
    outline-color: var(--main-outline-color);
    outline-width: 2px;
}