.captions-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    pointer-events: none;
}

.captions-canvas .text-container {
    width: 80%;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    color: var(--main-fg-color);
    position: absolute;
    bottom: 5px;
    left: 10%;
    right: 10%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.captions-canvas.visible-ui .text-container {
    bottom: 55px;
}

.captions-canvas.size-s .text-container {
    font-size: 18px;
}

.captions-canvas.size-m .text-container {
    font-size: 20px;
}

.captions-canvas.size-l .text-container {
    font-size: 24px;
}

.captions-canvas.size-xl .text-container {
    font-size: 30px;
}

.captions-canvas.size-xxl .text-container {
    font-size: 34px;
}
