fieldset.menu-button-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 0;
    padding: 0;
    gap: 4px;
}

fieldset.menu-button-content button {
    padding: 5px;
    text-align: left;
    background: none;
    border: 0;
    color: var(--main-fg-color);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

fieldset.menu-button-content button:hover {
    background: var(--highlight-bg-color-hover);
}

fieldset.menu-button-content svg {
    stroke: var(--main-fg-color);
    width: 30px;
    height: auto;
}

fieldset.menu-button-content .menu-title {
    flex-grow: 1;
    padding-right: 20px;
}

fieldset.menu-button-content .button-state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button-item {
    padding: 2px 7px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-button-item input[type="radio"] {
    display: none;
}

.menu-button-item:has(input[type="radio"]:checked) {
    background: red;
}