
ul.menu-button-content {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu-button-content li.menu-button-item {
	min-width:40px;
}

ul.menu-button-content li.menu-button-item button {
	background: none;
	border: none;
	width: 100%;
	color: var(--main-fg-color);
	display: flex;
	justify-content: space-around;
}

ul.menu-button-content li.menu-button-item button:hover {
	background-color: var(--secondary-bg-color);
}

ul.menu-button-content li.menu-button-item button.selected {
	background-color: var(--secondary-bg-color-hover);
}

ul.menu-button-content li.menu-button-item button i.menu-icon {
	pointer-events: none;
}

ul.menu-button-content li.menu-button-item button i.menu-icon svg {
	fill: var(--main-fg-color);
	height: 40px;
}

ul.menu-button-content li.menu-button-item button span.menu-title {
	height: 40px;
	line-height: 40px;
	padding-left: 4px;
	padding-right: 4px;
	pointer-events: none;
}