.timeline-popup-content {
    display: block;
    background-color: var(--main-bg-color);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    border-radius: 4px;
    left: 2px;
    right: 2px;
    bottom: 52px;
    color: var(--main-fg-color);
    border-top: 1px solid var(--main-border-color);
    z-index: 100;
}
