.timeline-popup-content {
    display: block;
    background-color: rgba(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 50px;
    color: white;
    border-top: 1px solid rgba(125,125,125,0.4);
}
