:root {
    --main-fg-color: white;
    --main-bg-color: rgba(0,0,0,0.8);
    --main-bg-color-hover: rgb(0,0,0);
    --secondary-bg-color: rgb(32,32,32);
    --secondary-bg-color-hover: rgba(32,32,32,0.8);
    --highlight-bg-color: #A00;
    --highlight-bg-color-hover: red;
    --main-bg-gradient: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(32,32,32,0.49531687675070024) 72%, rgba(32,32,32,0.08355217086834732) 100%);
    --main-border-color: rgba(125,125,125,0.4);
    --video-container-background-color: #e4e4e4;
    --base-video-rect-background-color: #8a8a8a;
    --main-outline-color: var(--highlight-bg-color-hover);
}

/* Button plugins */
:root {
	--button-fixed-width: 40px;
	--button-fixed-height: 40px;
    --button-fixed-width-sm: 40px;
    --button-fixed-height-sm: 40px;
    --progress-indicator-height: 10px;
    --progress-indicator-font-size: 11px;
    --playback-bar-height: calc(var(--button-fixed-height) + var(--progress-indicator-height));
    --playback-bar-height-sm: calc(var(--button-fixed-height-sm) + var(--progress-indicator-height));
    --button-icon-size: calc(var(--button-fixed-width) / 2);
    --button-icon-size-sm: calc(var(--button-fixed-width-sm) / 2);
	--progress-indicator-handler-size: 20px;
    --playback-bar-width: 100%;
}

/* isu variables */
.isu {
    --isu-theme-color-1: rgb(251, 184, 184);
    --isu-theme-color-2: rgb(255, 168, 168);
    --isu-theme-color-3: var(--highlight-bg-color);
    --isu-theme-color-4: var(--highlight-bg-color);
    --isu-highligh-color: var(--highlight-bg-color-hover);

    --range-runnable-track-border-color: black;
    --range-runnable-track-background: var(--main-bg-color);
    --range-runnable-track-focus-background: var(--main-bg-color-hover);

    --range-thumb-border: 2px solid black;
    --range-thumb-focus-border: 2px solid black;
    --range-thumb-active-border: 2px solid black;
    --range-thumb-hover-border: 2px solid black;
    --range-thumb-background: white;
    --range-thumb-focus-background: white;
    --range-thumb-active-background: white;
    --range-thumb-hover-background: white;
    
}

/* Push navigator */
:root {
    --push-navigator-transition-duration: 100ms;
    --push-navigator-bg-color: #ccc;
    --push-navigator-fg-color: black;
    --push-navigator-title-padding: 10px;
    --push-navigator-container-border-radius: 7px;
    --push-navigator-page-border: 1px solid #ccc;
    --push-navigator-page-bg-color: white;
    --push-navigator-page-fg-color: black;
    --push-navigator-page-padding: 10px;
    --push-navigator-page-border-radius: 5px;
    --push-navigator-page-margin: 4px;
}

/* floating window */
:root {
    --floating-window-hide-transition-time: 100ms;
    --floating-window-show-transition-time: 50ms;
    --floating-window-border-color: rgb(208, 211, 219);
    --floating-window-title-color: black;
    --floating-window-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    --floating-window-handler-size: 10px;
    --floating-window-title-height: 35px;
    --floating-window-title-padding: 7px;
    --floating-window-btn-size: 60%;
    --floating-window-btn-color: white;
    --floating-window-btn-border: none;
    --floating-window-btn-aspect-ratio: 1;
    --floating-window-btn-font-family: system-ui;
    --floating-window-btn-font-size: 10px;
    --floating-window-btn-font-weight: bold;
    --floating-window-btn-hover-bg-color: rgb(152, 0, 0);
    --floating-window-btn-hover-fg-color: white;
    --floating-window-btn-active-bg-color: rgb(255, 144, 144);
    --floating-window-btn-active-fg-color: rgb(0, 0, 0);
    --floating-window-close-btn-content: 'X';
    --floating-window-modal-background: rgba(0, 0, 0, 0.4);
    --floating-window-modal-backdrop-filter: blur(10px);
    --floating-window-min-height: 70px;
    --floating-window-min-width: 220px;
}

/* progress indicator */
.progress-indicator {
    --playback-bar-height: 6px;
    --handler-height: 22px;
    --handler-width: 22px;
    --handler-color: white;
    --handler-border: 2px solid black;
    --handler-radius: 50%;
    --elapsed-color: red;
    --remaining-color: gray;
    --bar-radius: 10px;
    --handler-shadow: 0 0 4px 0 rgb(0 0 0 / 40%);
    --playback-bar-marker-color:  rgb(48, 48, 48);
    --playback-bar-marker-width: 1px;
    --playback-bar-marker-hover-width: 3px;
    --playback-bar-marker-hover-color: rgb(22, 22, 22);
}
