
.video-canvas .button-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
    text-align: center;
    z-index: 1;
}


.video-canvas .button-area button {
    pointer-events: all;
    margin: 2px;
    width: 40px;
    opacity: 0.8;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
}

.video-canvas .button-area button:hover {
    background-color: var(--highlight-bg-color-hover);
}

.video-canvas .button-area button svg path {
    fill: var(--main-fg-color);
}

.video-canvas .button-area button svg rect {
    fill: var(--main-fg-color);
}

.video-canvas .button-area button:hover {
    opacity: 1;
}

.video-canvas .button-area button.align-left {
    float: left;
}

.video-canvas .button-area button.align-right {
    float: right;
}

.video-canvas .button-area {
    padding: 5px;
}


@media (max-width: 600px) {
    .video-canvas .button-area button {
        width: 30px;
    }
}


@media (min-width: 1200px) {
    .video-canvas .button-area button {
        width: 50px;
    }
}


  