
.video-canvas .button-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
    text-align: center;
    z-index: 1;
    container-type: size;
    container-name: button-area;
}


.video-canvas .button-area button {
    pointer-events: all;
    margin: 2px;
    width: 40px;
    opacity: 0.8;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
}

.video-canvas .button-area button:hover {
    background-color: var(--highlight-bg-color-hover);
}

.video-canvas .button-area button svg path {
    fill: var(--main-fg-color);
}

.video-canvas .button-area button svg rect {
    fill: var(--main-fg-color);
}

.video-canvas .button-area button:hover {
    opacity: 1;
}

.video-canvas .button-area button.align-left {
    float: left;
}

.video-canvas .button-area button.align-right {
    float: right;
}

.video-canvas .button-area {
    padding: 5px;
}


@container button-area (max-width: 200px) {
    .video-canvas .button-area button {
        width: 25cqi;
    }
}

@container button-area (min-width: 200px) and (max-width: 350px) {
    .video-canvas .button-area button {
        width: 45px;
    }
}

@container button-area (min-width: 350px) {
    .video-canvas .button-area button {
        width: 55px;
    }
}



  