
.video-container {
    background-color: #e4e4e4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-video-rect {
    background-color: #8a8a8a;
    position: relative;
}

.video-container .button-plugins {
    position: absolute;
    top: 10px;
    height: 40px;
	z-index: 100;
}

.video-container .button-plugins.left-side {
    left: 10px;
}

.video-container .button-plugins.right-side {
    right: 10px;
}

.video-container .user-area {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.video-container .button-plugins .button-plugin-container {
	display: inline;
}

.video-container .button-plugins .button-plugin-container button {
	width: 40px;
	height: 40px;
	display: block;
	background-color: rgba(50,50,50,0.7);
    border-radius: 6px;
	border: none;
	float: left;
	margin-left: 2px;
    margin-right: 2px;
}

.video-container .button-plugins button:hover {
	background-color: red;
}

.video-container .button-plugins button:active {
	background-color: rgba(0, 0, 0, 0.8);
}

.video-container .button-plugins button i {
	background-size: 50% 50%;
	width: 20px;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	background-position: 3px 7px;
	margin-left: 5px;
}

.video-container .button-plugins button i svg {
	fill: white;
}

.video-container .button-plugin-side-area {
	display: inline;
	color: white;
	height: 40px;
	line-height: 40px;
}